<div class="mt-4">
    <div class="row">
        {{#each courses}}
        <div class="col-sm-6 col-lg-4">
            <a href="/course/{{this.slug}}" style="text-decoration: none; color: #333">
                <div class="card">
                    <img src="{{this.image}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{this.name}}</h5>
                        <p class="card-text">{{this.description}}</p>
                        <a href="/course/{{this.slug}}" class="btn btn-primary">Go</a>
                    </div>
                </div>
            </a>
        </div>
        {{/each}}
    </div>
</div>